<h1>Pages#welcome</h1>
<p>
	<%= @message %>
</p>
<p>Find me in app/views/pages/welcome.html.erb</p>

<%= link_to 'About Us', my_about_path %>

<%= link_to 'See My Students', students_path %>
<%= link_to 'Add New Student', new_student_path %>